.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 8px;

}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.input > div {
  display: flex;
  align-items:center;
  position: relative;
  
}

.form-control {
  margin-left:auto
}

.submit-btn {
  width: 70px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 100px;
}

.error {
  position: absolute;
  top: 100%;
  font-size: 12px;
  left: 35%;
}